<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h2>Are you sure you want to delete your account?</h2>
        <form action="/homepage/{{request.session.id}}/delete" method="POST">
            {% csrf_token %}
            <input type="submit" value="Yes">
            <a href="/account/edit"><button>No/Cancel</button></a>
        </form>
    </div>
</body>
</html>