<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <form action="" method="POST">
            <p>Goal Name:</p>
            <input type="text" name="title">
            <p>Worth how many coins?</p>
            <p>(Max of 20)</p>
            <input type="number" name="coin_worth" min="1" max="20">
            <input type="submit" value="Submit">
        </form>
        <a href="/goals"><button>Cancel</button></a>
    </div>
</body>
</html>