<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>Welcome back, {{name}}!</h1>
        <div class="day">
            <h3>How was today?</h3>
            <input type="radio" name="today">
            <p>Accomplished something?</p>
            <input type="radio" name="accomplishment">
            <p>Any new goals?</p>
            <input type="radio" name="goals">
            <input type="submit" value="Let's Go!">
        </div>

    </div>
</body>
</html>