<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <a href="/homepage"><p>Back to Homepage</p></a>
        <a href="/"><p>Back to Login Page</p></a>
        <a href="/logout"><p>Logout</p></a>
        <div class="music">
            <p>Need some calming music?</p>
            <!--Jquery allow to click button and expand/hide music or video.-->
        </div>
        <div class="breathing">
            <h4>Breathing</h4>
        </div>
        <div class="next_time">
            <button>Okay now?</button>
            <!--Jquery to hide until button is clicked-->
            <h4>How to best handle panic attacks.(For later)</h4>
            <img src="https://66.media.tumblr.com/61cd9091f1c507b92d5af8c629adcb8a/tumblr_nh8gprC0Vy1roddmto1_250.gif" alt="A moving image meant to instruct on breathing.">
            <ul>
                <li>Recognize what you are feeling.</li>
                <li>Think of a mantra to repeat in your head. (Ex. this too shall pass, I'm going to be okay, etc.)</li>
                <li>Find a focus object to stare at, or close your eyes.</li>
                <li>Continue to take deep and steady breaths until your breathing is back under control, and your heart is no longer racing.</li>
                <li>If possible, find somewhere to calm down and take a small break until you are completely alright.</li>
            </ul>
            <h4>Additional Resources</h4>
            <p>(Clicking these will redirect your page to another website)</p>
            <ul>
                <a href="https://www.healthline.com/health/how-to-stop-a-panic-attack"><li>Additional Coping Methods for Panic Attacks</li></a>
                <a href="https://www.webmd.com/anxiety-panic/guide/panic-attack-symptoms"><li>Symptoms of a Panic Attack</li></a>
                <a href="https://www.healthline.com/health/panic-attack-vs-anxiety-attack#causes"><li>Differences between a Panic Attack and a Anxiety Attack</li></a>
            </ul>
        </div>
    </div>
</body>
</html>