<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>Success!</h1>
        <h3>You have sucessfully created your account, please return to login page and login to ensure your account info is correct.</h3>
        <a href="/"><button>Go to Login Page</button></a>
    </div>
</body>
</html>